<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>JavaScript</key>
	<string>window.fluid.dockBadge = &apos;&apos;;
setTimeout(updateDockBadge, 1000);
setTimeout(updateDockBadge, 3000);
setInterval(updateDockBadge, 5000);

function updateDockBadge() {
	var newBadge = &apos;&apos;;

	var regex = /\s*\((\d+)\)\s*/;

	var text = &apos;&apos; + document.title;
	if (text.length) {
		console.log(&apos;text: &apos; + text);
		var res = text.match(regex);
		console.log(&apos;res: &apos; + res);
		if (res &amp;&amp; res.length &gt; 1) {
			newBadge = res[1];
			console.log(&apos;newBadge: &apos; + newBadge);
		}
	}
	window.fluid.dockBadge = newBadge;
}</string>
	<key>mainURL</key>
	<string>http://www.facebook.com/messages</string>
	<key>CSS</key>
	<string>#fbDockChatBuddylistNub,
#pagelet_bluebar,
#leftColContainer,
#rightCol,
#headerArea,
._2nd,
._3j5,
#pagelet_chat { display: none !important; } 
#pagelet_group_mall { padding: 0px 5px !important; }
.storyContent .uiUfi { width: 100% !important; }</string>
</dict>
</plist>
